$large_break: 1400px
$tablet_break: 900px
$phone_break: 620px
$small_break: 400px


/* Alternative Setup */

.bg_img
	+background-size(cover)
	background-position: center
	background-repeat: no-repeat

button
	+appearance(none)
	+border-radius(0)
	border: none
	background-color: rgba(0, 0, 0, 0)
	cursor: pointer
	border: none

ul.tabs-pager, ul.dots-pager
	width: 90%
	@media (min-width: $large_break)
		width: 80%
	@media (max-width: $tablet_break)
		width: 95%
	@media (max-width: $phone_break)
		width: 98%




/* Slider Tabs */

section.main_banner
	.wrap
		overflow: hidden
		position: relative
		overflow: hidden
		li
			width: 100%
			display: table
			position: relative
			overflow: hidden
			> div
				width: 50%
				height: 100%
				display: table-cell
				vertical-align: top
				position: relative
				overflow: hidden
			.image
				@extend .bg_img
				@include transition(all, 0.1s, ease-in-out)
				+transform( scale(1))
			.txt
				padding: 2em 6em 4em 2em
			p
				margin-bottom: 0
			a
				margin-top: 1.5em
				display: block
			.gray
				color: $gray_regular
			.gray:before
				content: '←\00a0'
				color: $gray_medium
	ul.tabs-pager
		margin-left: auto
		margin-right: auto
		overflow: hidden
		li
			a
				float: left
				margin-right: 1%
				margin-bottom: 1%
				padding: 1em 1.5em
				display: inline-block
				text-align: left
				color: $gray_regular
				width: 15%
				background-color: $white
			p
				margin-bottom: 0
			p:after
				content: '→'
				margin-left: 0.5em
		li:hover, .rslides_here
			a
				background-color: $red
				color: $white
	ul.tabs-bullets
		position: absolute
		z-index: 4
		right: 2em
		top: 3em
		li
			padding-bottom: 0.5em
		a
			+border-radius(1em)
			height: 16px
			width: 16px
			margin: 0 0.3em
			border: 4px solid #000
			display: inline
			float: left
			display: inline-block
		li:hover, li.rslides_here
			a
				border: 4px solid $gray_regular
				background-color: $gray_regular 
	.wrap:hover
		.image
			+transition(all, 0.1s, ease-in-out)
			+transform( scale(1))
	.arrow_navigation
		display: none
	@media (max-width: $tablet_break)
		ul.tabs-pager
			li
				a
					display: none
		.wrap
			.arrow_navigation
				display: block
	@media (max-width: $phone_break)
		.wrap
			height: auto
			li
				height: auto
				> div
					display: block
					width: 100%
				.image
					height: 20em
				.txt
					padding: 2em 2em 6em 2em
					height: auto

.rslides_nav
	display: none





.arrow_navigation
	position: absolute
	z-index: 2
	width: 100%
	font-size: 0
	bottom: 0 	
	button
		+transition(all, 0.1s, ease-in-out)
		background-position: center
		background-repeat: no-repeat
		background-image: url('../img/left.svg')
		background-color: none
		border: none
		font-size: 16px
		color: $white
		padding: 0
		width: 5em
		height: 5em
	button.next
		+transform(rotate(180deg))
		float: right
	button.prev
		float: left
	button:hover
		+transition(all, 0.1s, ease-in-out)
		background-position: center
		background-repeat: no-repeat
		background-color: $blue
		padding: 0
		background-image: url('../img/right.svg')
		border: none 
	@media (max-width: $tablet_break)
		button
			width: 4em
			height: 4em




.wide_slider
	height: 45em
	overflow: hidden
	position: relative
	overflow: hidden
	li
		width: 100%
		height: 100%
		position: relative
		> div
			width: 100%
			height: 100%
			float: left
			position: relative
			overflow: hidden
		.image
			@extend .bg_img
			+transition(all, 0.1s, ease-in-out)
			+transform(scale(1))
	@media (max-width: $tablet_break)
		height: 25em
	@media (max-width: $tablet_break)
		height: 20em




ul.dots-pager
	margin-left: auto
	margin-right: auto
	text-align: center
	margin: 1em auto
	width: 80%
	position: absolute
	z-index: 4
	left: 0
	right: 0
	bottom: 0
	li
		width: auto
		display: inline-block
		a
			+border-radius(1em)
			height: 16px
			width: 16px
			margin: 0 0.3em
			border: 4px solid $blue
			display: inline
			float: left
			display: inline-block
	li:hover, .rslides_here
		a
			background-color: $white
			border: 4px solid $white
			color: $white
	@media (max-width: $tablet_break)
		display: none


/* LIGHTBOX */

// reset fancybox
.fancybox-wrap
	top: 5.4em!important
	left: 0!important
	height: 100%!important
	width: 100%!important

section.lightbox
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	display: none
	background-color: rgba(255, 255, 255, 0.9)
	.image, .prev_btn, .content, .right_controls
		display: inline-block
		vertical-align: top
	.prev_btn, .next_btn, .close_btn
		+transition(all, 0.1s, ease-in-out)
		height: 80px
		width: 80px
		background-position: center
		background-repeat: no-repeat	

	.prev_btn
		margin: 15em 1em 0 0
		background-image: url('../img/arrow_square1.svg')
	.next_btn
		display: block
		margin-top: 5em
		background-image: url('../img/arrow_square1.svg')
		+transform(rotate(180deg))
	.close_btn
		display: block
		background-image: url('../img/close_square1.svg')
	.prev_btn:hover, .next_btn:hover, .close_btn:hover
		+transition(all, 0.1s, ease-in-out)
	.prev_btn:hover
		background-image: url('../img/arrow_square2.svg')
	.next_btn:hover
		background-image: url('../img/arrow_square2.svg')
	.close_btn:hover
		background-image: url('../img/close_square2.svg')
	.container
		width: 80%
		display: inline-block
	.image
		width: 45%
		max-width: 37.5em
		img
			width: 100%
	.content
		width: 38%
		margin-left: 1em 
		display: inline-block
		.top
			display: inline-block
			vertical-align: top
			margin-top: 9em
			height: auto				
		.bottom
			margin-top: 10em
		.tags
			@extend .small_title
			li
				display: inline-block
		.info
			@extend .Decima
			margin: 2em 0 0 2em
			position: relative
		.info:before
			content: ''
			background-image: url('../img/camera.svg')
			background-repeat: no-repeat
			background-size: contain
			position: absolute
			width: 1em
			height: 1em
			left: -2em
		.social li
			display: inline-block
			width: 45%
			max-width: 11em
			margin-right: 4%
			margin-bottom: 3%
		.social li a
			+transition(all, 0.1s, ease-in-out)
			float: left
			width: 100%
			padding: 0.75em 1em
			color: $gray_medium
			border: 1px solid $gray_regular
			&:hover
				+transition(all, 0.1s, ease-in-out)
				border: 1px solid $red
				color: $white
				background-color: $red
	.right_controls
		display: inline-block
		float: right
		position: relative
	@media(max-width: 1500px)
		.content, .image
			width: 48%
		.content
			.top, .bottom
				margin-top: 0
			.bottom
				margin-top: 1em
	@media(max-width: 1000px)
		.container
			width: 100%
			display: block
		.prev_btn
			margin: 0
		.right_controls
			width: 55%
			margin-bottom: 1em			
			.next_btn, .close_btn
				display: inline-block
			.next_btn
				margin-top: 0
				position: absolute
				right: 2em
				bottom: 0
	@media(max-width: 600px)
		.container
			.image, .content
				width: 100%
			.content
				margin-left: 0


